<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <style>
            #menu {
                list-style: none;
            }

        </style>
    </head>
{% load mptt_tags %}
<ul id="menu">
    {% recursetree genres %}
        <li>
            <a href="#">{{ node.name }}</a>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    <a href="#">{{ children }}</a>
                    {% if not structure.new_level %}
                      llsdjfldskjflsdkf
                    {% endif %}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
</html>